.btn {
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
  height: 50px;
  width: 100%;
  padding: 0 0.8888em;
  border: none;
  border-radius: 4px;
  background: var(--hh-colors-green);
  text-transform: uppercase;
}
