.selector-wrapper {
  position: relative;

  label {
    display: inline-block;
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0.5px;
    color: #fff;
    vertical-align: top;
  }

  select {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
    margin-bottom: 8px;
    font-size: 16px;
    color: #4e4a46;
  }

  margin-bottom: 24px;
}
