:root {
  --hh-colors-bg: #282c34;
  --hh-colors-red: #ff1654;
  --hh-colors-white: #fff;
  --hh-colors-green: #70c1b3;
  --hh-colors-yellow: #f3ffbd;
  --hh-colors-grey-100: #4e4a46;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre {
  font-size: 1.6rem;
  margin: 1em 0;
}

button {
  color: inherit;
  cursor: pointer;
}

.app {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--hh-colors-bg);
  min-height: 100vh;
  color: var(--hh-colors-white);
}

.form {
  width: 40rem;

  h1 {
    color: var(--hh-colors-yellow);
    font-size: 4.8rem;
    margin-bottom: 0.5em;
  }
}

.field-error {
  color: var(--hh-colors-red);
  height: 1.8em;
}

.split {
  display: flex;
  align-items: center;
  height: 60rem;
}

.divider {
  height: 100%;
  width: 2px;
  background: var(--hh-colors-white);
  margin: 0 4.8rem;
}
